<?xml version = "1.0"?>

<launch>
    <arg name = "servo1_angle" default = "0.5" />
    <arg name = "servo2_angle" default = "-0.5" />

    <!-- set to default configuration -->
    <!-- <arg name = "servo1_angle" default = "0.0" /> -->
    <!-- <arg name = "servo2_angle" default = "0.0" /> -->

    <include file = "$(find my_dynamixel_tutorial)/launch/controller_manager.launch">
    </include>

    <include file = "$(find my_dynamixel_tutorial)/launch/start_tilt_controller.launch">
    </include>

    <include file = "$(find my_dynamixel_tutorial)/launch/servo_control.launch">
        <arg name = "servo1_angle" value = "$(arg servo1_angle)" />
        <arg name = "servo2_angle" value = "$(arg servo2_angle)" />
    </include>

    <include file="$(find sf30_node)/launch/sf30.launch">
    </include>
</launch>