<?xml version = "1.0"?>

<launch>
    <arg name = "servo1_angle" default = "0.0" />
    <arg name = "servo2_angle" default = "0.0" />

    <node name = "servo_control" pkg = "my_dynamixel_tutorial" type = "servo_control_node" output = "screen">
        <param name = "servo1_angle" value = "$(arg servo1_angle)" />
        <param name = "servo2_angle" value = "$(arg servo2_angle)" />
        <param name = "L_MIN" value = "0.5" />
        <param name = "L_MAX" value = "1.5" />
        <param name = "l0" value = "0.05" />
        <param name = "l1" value = "0.22360679" />
        <param name = "l2" value = "0.471699" />
    </node>

</launch>